.article {
  margin-top: 160px;
}
.article-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.article-connect {
  width: 350px;
  z-index: 10;
}
.article-connect-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
  margin-top: 40px;
}
.article-connect-text-2 {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
  margin-top: 27px;
  font-family: "Lexend-Deca", sans-serif;
}
.artucle-length {
  position: relative;
}
.artucle-length-img {
  position: absolute;
  z-index: -1;
  right: 365px;
  top: -95px;
  width: 874px;
}
